/*------------------------------------------
	A Daily Excuse
------------------------------------------*/

@font-face {
	font-family:'NexaBold';
	src: url('../fonts/NexaBold.eot');
	src: url('../fonts/NexaBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NexaBold.woff') format('woff'),
		url('../fonts/NexaBold.ttf') format('truetype'),
		url('../fonts/NexaBold.svg#ProximaNova-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2666;
}

/*------------------------------------------
/* 1 - BASE STYLE
/*------------------------------------------*/

html { font-size: 1em; line-height: 1.4; }
::-moz-selection { background: #b3d4fc;text-shadow: none;
}
::selection { background: #b3d4fc; text-shadow: none; }
audio, canvas, iframe, img, svg, video { vertical-align: middle; }

*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html, body { height: 100%; }

body {
  font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
}

header {
  height: 7.5em;
  padding: 1.5em 0 0;
  color: #ff1644;
  border-bottom: 3px solid #ebebeb;
}

header, footer {
  font-weight: 300;  
}

a { text-decoration: none; color: inherit; }

.page-wrap {
  min-height: 100%;
  margin-bottom: -100px; 
}
.page-wrap:after {
  content: "";
  display: block;
}

.grid {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

/*------------------------------------------
/* 2 - HEADER
/*------------------------------------------*/

h1 {
  display: inline-block;
  margin: 0 0 0 1.5em;
}

.daily {
  font-family: 'NexaBold', sans-serif;
  font-size: 2.25em;
  color: #ff1644;
}

.mascot {
  width: 172px;
  height: 172px;
  background: url(../img/mascot.gif) no-repeat;
  background-position: 0 0;
  display: inline-block;
  vertical-align: top;
}

.header-right {
  display: inline-block;
  float: right;
  margin: 54px 0 0;
}
.pt { margin-right: .5em; color: #ff1644; }
.en { margin-left: .5em; margin-right: 2em; }

.language { color: #ebebeb; }
.language a, .about a { color: #f8a900; }
.language a:hover, .about a:hover { color: #ff1644; border-top: 1px solid; }
.language a:active { color: #ff1644; border-top: 1px solid #ff1644; }

/*------------------------------------------
/* 3 - EXCUSE LIST
/*------------------------------------------*/

.excuse-list, footer span {  margin: 0 0 0 13.75rem; }
.excuse-list { padding: 0; }
.excuse-list li {
  padding: 2em 0;
  font-size: 1.5em;
  list-style: none;
  position: relative;
}

/* .excuse-box { width: 100%; } Hover for the list lines */

.votes-box {
  display: inline-block;
  color: #ff1644;  
  position: absolute;
  right: 0;
  top: 48px;
  width: 180px;
}
.votes-box span:last-child { font-weight: bold; }
.upvote {
  background: url("../img/upvote.png") no-repeat;
  background-position: 0 0;
  width: 47px;
  height: 80px;
  margin: -40px .25em 0;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  transition: background .25s steps(9);
}
.upvote:hover {
  background-position: -423px 0;
  transition: background .30s steps(9);
}
.excuse-title {
  max-width: 70%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: .25em;
  vertical-align: middle;
}
.excuse-plus {
  color: #ff1644;
  font-weight: bold;
  line-height: 1;
  border: 2px solid #ff1644;
  border-radius: 100%;  
  padding: 0px 9px;
  vertical-align: middle;
}
.excuse-plus:hover { color: #fff; background-color: #ff1644; } 

/*------------------------------------------
/* 4 - FOOTER
/*------------------------------------------*/

footer, .page-wrap:after { height: 100px; }
footer {
  background-color: #ff1644;
  color: #fff;
  padding: 1.4em 0;
  font-size: 1.5em;
}