/*------------------------------------------
  A Daily Excuse
------------------------------------------*/

@font-face {
  font-family:'NexaBold';
  src: url('../fonts/NexaBold.eot');
  src: url('../fonts/NexaBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NexaBold.woff') format('woff'),
    url('../fonts/NexaBold.ttf') format('truetype'),
    url('../fonts/NexaBold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2666;
}
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?fo3nnq');
  src:url('../fonts/icomoon.eot?#iefixfo3nnq') format('embedded-opentype'),
    url('../fonts/icomoon.woff?fo3nnq') format('woff'),
    url('../fonts/icomoon.ttf?fo3nnq') format('truetype'),
    url('../fonts/icomoon.svg?fo3nnq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\f003";
}

.icon-facebook:before {
  content: "\f09a";
}

.icon-copy:before {
  content: "\f0c5";
}

/*------------------------------------------
/* 1 - BASE STYLE
/*------------------------------------------*/

html { font-size: 1em; line-height: 1.4; }
::-moz-selection { background: #b3d4fc;text-shadow: none;
}
::selection { background: #b3d4fc; text-shadow: none; }
audio, canvas, iframe, img, svg, video { vertical-align: middle; }

*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html, body { height: 100%; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

header {
  height: 7.5em;
  padding: 1.5em 0 0;
  color: #ff1644;
  border-bottom: 3px solid #ebebeb;
}

header, footer {
  font-weight: 300;  
}

a { text-decoration: none; color: inherit; }

button:focus {
    outline: none;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -100px; 
}
.page-wrap:after {
  content: "";
  display: block;
}

.grid {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

/*------------------------------------------
/* 2 - HEADER
/*------------------------------------------*/

h1 {
  display: inline-block;
  margin: 0 0 0 1.5em;
}

.daily {
  font-family: 'NexaBold', sans-serif;
  font-size: 2.25em;
  color: #ff1644;
}

.mascot {
  width: 172px;
  height: 172px;
  background: url(../img/mascot.gif) no-repeat;
  background-position: 0 0;
  display: inline-block;
  vertical-align: top;
}

.header-right {
  display: inline-block;
  float: right;
  margin: 54px 0 0;
}
.pt { margin-right: .5em; color: #ff1644; }
.en { margin-left: .5em; margin-right: 2em; }

.language { color: #ebebeb; }
.language a, .about a { color: #f8a900; }
.language a:hover, .about a:hover { color: #ff1644; border-top: 1px solid; }
.language a:active { color: #ff1644; border-top: 1px solid #ff1644; }

/*------------------------------------------
/* 3 - EXCUSE LIST
/*------------------------------------------*/

.excuse-list, footer span {  margin: 0 0 0 13.75rem; }
.excuse-list { padding: 0; }
.excuse-list li { list-style: none; }
.excuse-list > li {
  padding: 2em 0;
  font-size: 1.5em;
  position: relative;
  border-bottom: 2px solid #EBEBEB;
}

/* .excuse-box { width: 100%; } Hover for the list lines */

.votes-box {
  display: inline-block;
  color: #ff1644;  
  position: absolute;
  right: 0;
  top: 48px;
  width: 180px;
}
.votes-box span:last-child { font-weight: bold; }
.upvote {
  background: url("../img/upvote.png") no-repeat;
  background-position: 0 0;
  width: 47px;
  height: 80px;
  margin: -40px .25em 0;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.upvote:hover {
  background-position: -423px 0;
  transition: background .25s steps(9);
}
.upvote.active {
  background-position: -987px 0;
  transition: background .30s steps(13);
}

.excuse-title {
  max-width: 70%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: .25em;
  vertical-align: middle;
}
.excuse-plus {
  padding: 0px 9px;
  width: 35px;
  height: 35px;
  
  border: 2px solid #ff1644;
  border-radius: 100%;  
  
  background-color: transparent;

  color: #ff1644;
  font-weight: bold;
  line-height: 1;
  vertical-align: middle;

  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.excuse-plus:hover { color: #fff; background-color: #ff1644; }

.details-box {
  font-size: .8em;
  margin-top: 2.5em;
}
.share-buttons { padding: 0; margin-top: 2.5em; } 
.share-buttons li { display: inline-block; margin-right: .5em; }
.share-buttons [class*="icon-"] { 
  margin-right: 1em;
  vertical-align: text-top;
  font-size: 1.25em;
  line-height: 1;
}
.share-buttons a {
  border: 2px solid #ff1644;
  color: #ff1644;
  font-size: .85em;
  padding: .35em .65em;
  border-radius: 3px;
  transition: all 0.3s ease 0s;
}
.share-buttons a:hover {
  background-color: #ff1644;
  color: #ffffff;
}

/*------------------------------------------
/* 4 - FOOTER
/*------------------------------------------*/

footer, .page-wrap:after { height: 100px; }
footer {
  background-color: #ff1644;
  color: #fff;
  padding: 1.4em 0;
  font-size: 1.5em;
}

/*------------------------------------------
/* 4 - ABOUT
/*------------------------------------------*/

/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 9999;
}

.overlay-scale {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);

  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  -ms-transition: -ms-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  -o-transition: -o-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);

  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  -moz-transition: -moz-transform 0.4s, opacity 0.4s;
  -ms-transition: -ms-transform 0.4s, opacity 0.4s;
  -o-transition: -o-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}

.overlay-close {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  top: 18px;
  right: 30px;
  text-indent: -9999px;
}

.overlay-close:before, .overlay-close:after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    top: 50%;  
    left: 0;     
    margin-top: -1px;     
    background: #ff1644;
    transition: background 150ms ease-out;
    -moz-transition: background 150ms ease-out;
    -ms-transition: background 150ms ease-out;
    -o-transition: background 150ms ease-out;
    transition: background 150ms ease-out;
}

.overlay-close:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.overlay-close:after {
  -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.overlay-close:hover::before , .overlay-close:hover::after{
  background: #000;
}

.readme {
  width: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -190px;
  margin-top: -190px;
}
.readme a {
  color: #ff1644;
}
.readme a:hover {
  border-bottom: 1px solid;
}

.readme p {
  line-height: 2;
}